/* Base */
.button {
  padding: .5rem 1.5rem;
  font-family: $open-sans;
  color: white;
  letter-spacing: 1px;
  font-weight: $light;
  
  &:hover {
    //cuando el usuario pasa por arriba//
    background-color:orange;
  }
  &:focus {
    //cuando es seleccionado//
    background-color: orange;
  }
  &--light-blue {
    background-color: $celeste;
  }
  &--red {
    background-color: $rojo;
  }

}